.nes-btn {
  margin: 0;
  box-sizing: border-box;
  text-align: left;
}

.plaintext {
  background-color: transparent;
  border: 4px solid transparent;
  display: block;
  padding: 6px 8px;
  line-height: 1.5;
  margin-bottom: 0;
  width: 100%;
}

.plaintext:focus {
  outline: 0;
}

