CLIENT_PORT=3000
SERVER_PORT=3001
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
YANDEX_API=https://ya-praktikum.tech/api/v2
YANDEX_OAUTH_URL=https://oauth.yandex.ru/authorize
YANDEX_REDIRECT_URI=http://localhost:3000
