html,
body {
  margin: 0;
  overflow: hidden;
}

.app-wrapper {
  background-color: #000;
}

html,
body,
#root,
.app-wrapper {
  height: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

* {
  color: #fff;
}
