html,
body {
  margin: 0;
  overflow: hidden;
}

.app-wrapper {
  background-color: #000;
}

html,
body,
#root,
.app-wrapper {
  height: 100%;
}

* {
  color: #fff;
}

.page-title {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.error-text {
  font-size: .8rem;
  color: #E76E55
}
