html,
body {
  margin: 0;
  overflow: hidden;
}

.app-wrapper {
  background-color: #000;
}

html,
body,
#root,
.app-wrapper {
  height: 100%;
}

* {
  color: #fff;
}

.test {
  color: #000;
  font-size: 11px;
}

.test2 {
  color: #000;
  font-size: 11px;
}
