.comments {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.comments-title {
  width: 100%;
  text-align: center;
}

.comments-header {
  display: flex;
  padding: 20px 0;
  background-color: #212529;
}

.comments-header-info {
  width: 25%;
  padding: 0 10px;
}

.comments-header-content {
  width: 75%;
  padding: 0 10px;
}

.comments-input {
  input {
    width: calc(100% - 8px);
    margin-left: 4px;
  }
}

.comments-list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  list-style: none;
}

.comments-item {
  display: flex;
  width: 100%;
  transition: 0.2s;

  &:hover {
    background-color: #f7d51d;
  }

  &:hover div {
    color: #000
  }
}

.comments-info {
  width: 25%;
  padding: 20px 10px;
}

.comments-content {
  width: 75%;
  padding: 20px 10px;
}

.comments-content-date {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
  font-size: 12px;
}
