.full-screen-button{
  position: absolute;
  right: 40px;
  top: 40px;

  &__image{
    width: 48px;
    height: 48px;
    object-fit: cover;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
  }
  &__image:hover{
    opacity: 1;
  }
}
