.bc-btn {
  width: 100%;
  max-height: 12px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;

  &__icon {
    height: 30px;
    width: 30px;
    display: flex;
    flex: 0 0 30px;
    position: absolute;
    left: -30px;
  }

  &__button {
    padding: 0;
    margin-left: 30px;
    border: none;
    background: none;
    display: flex;
    flex: 0 1 auto;
    font-size: 1.5em;
    height: 100%;
  }

  &__button:focus {
    outline: none;
  } 
}